<div class="page-header">
    <h1>{{main.username}}'s Profile</h1>
</div>
<div class="panel panel-primary">
    <div class="panel-heading" style="text-align:center;">
        User Profile
    </div>
    <div class="panel-body">
        <table class="table">
            <thead>
                <tr>
                    <th>User Name</th>
                    <th>Email</th>
                    <th>Password</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{main.username}}</td>
                    <td>{{main.email}}</td>
                    <td>**************</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
